.HorizontalChart{
  background-color: white;
  border: 0.1px solid rgba(214,214,215,0.8);
  padding: 10px;
  margin: 7px;
  flex: 2;
}
.HorizontalChart-Title{
  top: 10px;
}
.HorizontalChart-Title > h4{
  font-weight: lighter;
}