.pie-chart{
  background-color: white;
  border: 0.1px solid rgba(214,214,215,0.8);
  padding: 10px;
  margin: 7px;
  align-items: center;
  min-height: 400px;
  flex: 3;
}

.smart-phone{
  display: flex;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  --border-radius: 25px;
  border-radius: 25px;
}

h5{
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.info{
  display: flex;
  align-items: center;
}

.col{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.total-info{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-and-dropDown{
  display: flex;
  justify-content: space-between;
  width: 25%;
  top: 10px;
}

.title-and-dropDown > h4{
  font-weight: lighter;
}

.chart-and-item{
  display: flex;
  align-items: center;
  min-height: 390px;
}
.total-spinner{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.Progress-h3{
  height: 50px !important;
}
.Spinner{
  height: 50px !important;
  width: 50px !important;
  margin-right: -30px;
}
.flex-center{
  display: flex;
  justify-content: center;
  min-height: 390px;
}